---
layout: application
title:  Lost?
---

/ Header Title
%section#header-title
  .container
    .row.animated.fadeInUpBig
      .col-sm-12
        %h2.white
          404
          %span.color Page Not Found

/ Main
%section#main.white-bg
  .container
  .row
    .col-sm-9
      %img{ src: "img/404.jpg", alt: "Looking for something?" }
