---
layout: application
title:  AngularJS, iOS, Ruby on Rails and more
---

{% include index/header.haml %}
{% include index/main.haml %}
{% include index/danielwanja.haml %}
{% include index/latest_work.haml %}
{% include index/latest_news.haml %}
{% include index/testimonials.haml %}
{% include index/ready.haml %}
{% include index/featured-clients.haml %}
