/ Header Title
%section#header-title
  .container
    .row.animated.fadeInUpBig
      .col-sm-12
        %a{ href: "{{ site.baseurl }}blog" }
          %h2.white
            AngularJS
            %span.color
              Blog
