/ Header Title
%section#header-title
  .container
    .row.animated.fadeInUpBig
      .col-sm-12
        %a{ href: "/blog.html" }
          %h2.white
            AngularJS
            %span.color
              Rambling