/ Bottom
%section#bottom
  .container
    .row
      / Section 1
      .col-sm-3.margin-40
        %h3 About Daniel Wanja
        .gray-box
          %p
            I can help create your next incredible application.
            I can mentor your developers, augment your team, build a proof of concept or create the whole application for you.
            I build Web and Mobile Applications with HTML5, AngularJS, Ruby on Rails and Node.js.
          %a.more{href: "danielwanja.html"} More
      / Section 2
      .col-sm-3.margin-40
        %h3 Email Sign Up
        %form#email-signup.form-inline{role: "form", style: "display:none"}
          .form-group
            %input#inputEmail.form-control{placeholder: "Enter email", type: "email"}/
          %button.btn.btn-primary.btn-sm{type: "submit"}
            %i.fa.fa-chevron-right.fa-lg
        :javascript
          var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));
        :javascript
          var qlzcdfz070c9ad = new WufooForm();
          qlzcdfz070c9ad.initialize({
          'userName':'nouvellessolutions',
          'formHash':'qlzcdfz070c9ad',
          'autoResize':true,
          'height':'247',
          'header':'show',
          'ssl': true});
          qlzcdfz070c9ad.display();
        %p
          Fun news, tips and tricks on AngularJS from Nouvelles Solutions. You won’t regret it and we won’t spam you ...
      / Section 3
      .col-sm-3.margin-40
        %h3 Quick Links
        %ul.list-unstyled.bottom-links
          %li
            %a{href: "blog"} Blog
          %li
            %a{href: "https://github.com/danielwanja"} Examples
          %li
            %a{href: "screencast.html"} Screencasts
          %li
            %a{href: "contact.html"} Contact US
      / Section 4
      .col-sm-3.margin-40
        %h3 Contact
        .gray-box
          %p
            %i.fa.fa-phone.fa-lg
            +1.844.ANGULAR
        .color-box
          %p
            %a{href: "mailto:d@n-so.com"}
              %i.fa.fa-envelope-o.fa-lg
              d@n-so.com (Daniel Wanja)
        %ul.list-inline.social-icons
          %li
            %a{href: "http://www.twitter.com/danielwanja"}
              %i.fa.fa-twitter
          %li
            %a{href: "https://plus.google.com/+DanielWanja1"}
              %i.fa.fa-google-plus
          %li
            %a{href: "https://github.com/danielwanja"}
              %i.fa.fa-github
          %li
            %a{href: "http://www.linkedin.com/in/wanja"}
              %i.fa.fa-linkedin
          %li
            %a{href: "http://vimeo.com/danielwanja"}
              %i.fa.fa-vimeo-square
