%nav
  %ul.list-unstyled.main-menu
    / Include your navigation here
    %li.text-right
      %a#nav-close{href: "#"} X
    %li
      %a{href: "/"}
        Home
        %span.icon
    %li
      %a{href: "{{ site.baseurl}}danielwanja.html"}
        Daniel Wanja
        %span.icon
    %li
      %a{href: "{{ site.baseurl}}screencast.html"}
        Screencast
        %span.icon
    %li
      %a{href: "{{ site.baseurl}}blog"}
        Blog
        %span.icon
    %li
      %a{href: "{{ site.baseurl}}contact.html"}
        Contact
        %span.icon

.navbar.navbar-inverse.navbar-fixed-top
  / Include your brand here
  %a.navbar-brand{href: "index.html"}
    %img.img-responsive{alt: "Logo", src: "{{ site.baseurl}}img/logo.png", width: "45px"}/
  %p{ style: "text-align: center; width:100%" }
    %a{href: "{{ site.baseurl}}index.html", style: "text-decoration:none; float:left;" }
      Nouvelles Solutions
    %span{ style: "float:right; margin-right:150px;" }
      call us: 1.844.ANGULAR
  .navbar-header.pull-right
    %a#nav-expander.nav-expander.fixed
      %span.title MENU  
      %i.fa.fa-bars.fa-lg.white
