%nav
  %ul.list-unstyled.main-menu
    / Include your navigation here
    %li.text-right
      %a#nav-close{href: "#"} X
    %li
      %a{href: "/"}
        Home
        %span.icon
    %li
      %a{href: "{{ site.baseurl}}danielwanja.html"}
        Daniel Wanja
        %span.icon
    %li
      %a{href: "{{ site.baseurl}}screencast.html"}
        Screencast
        %span.icon
    %li
      %a{href: "{{ site.baseurl}}blog"}
        Blog
        %span.icon
    %li
      %a{href: "{{ site.baseurl}}contact.html"}
        Contact
        %span.icon

.navbar.navbar-inverse.navbar-fixed-top
  / Include your brand here
  %a.navbar-brand{href: "index.html"}
    %img.img-responsive{alt: "Logo", src: "{{ site.baseurl}}img/logo.png", width: "45px"}/
  %p
    %a{href: "index.html"}
      Nouvelles Solutions
  .navbar-header.pull-right
    %a#nav-expander.nav-expander.fixed
      MENU  
      %i.fa.fa-bars.fa-lg.white
