---
layout: post
title: "Launch Festival: Day 1 startups"
date: 2013-03-04 19:00
comments: true
categories: startup
css_include: [
  "javascripts/angularjs/bootstrap.css"
]
---
%p
  Day 1 of the Launch festival is not finished yet as the Hackaton finalist will be revelead in a while.

%p
  There where three launch sessions where a serie of startup pitched their idea followed by a question and answer session by the judges. Everything was recorded so I'm sure you can find these sessions online. I will add the links when I find them. I took a few notes, but each session is very fast paced, so I may have skiped a few keypoints. But I like to keep track of what I saw, so here we go. Note a few pitches where for new ideas from exsiting startups and these are marked as <i>Version 2.0</i>

%p
  So here we go, 18 hot startups...

<!--more-->

/ -----------------------------------------------------------------------------
/ -----------------------------------------------------------------------------
%h3 Session 1

Of course I missed the first startup pitch from <i>instrabridge</i>. Damn gotomeeting…no more excuses to miss a customer meeting.

%h4 2. fanama

Dan Cook
Paul Murphy

fanama.com
@FanamaSports

For the fantaisie sports fan that wants to get active. You can now fantaisie play during a live event.

The judge where not convinced that this is a new category or that it's compellilng enough to switch away from the existing fantaisie offering.

/ -----------------------------------------------------------------------------
%h4 3. VuePlus

%img{:src => "{{ site.baseurl }}img/blog/20130304/vueplus.png", width: "250px"}

%p
  I was actually exited about this startup as it's a clever way to achieve what a customer of mine is doing with <a href="http://paya.com">paya.com</a>.

Founders:
%ul
  %li Brian Johnson
  %li Chang Lee
Site: vueplus.com

Change the way videos a monetized.


%ul
  %li Social element
  %li Contact Forms
  %li In place ecommerce
  %li product description

highjacks links (i.e. Facebook allow to link to iTunes directly)

%p
%table.table.table-striped
  %tr
    %td question
    %td{ :style => "width: 100%;"} how does youtube reacts to the overlay?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}content is served by youtube, but we are careful to respect all the rules by the youtube rules.

  %tr
    %td question
    %td{ :style => "width: 100%;"} how does it adapt to the mobile environment?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}launching a mobile api in the future and HTML5 will be supported.

  %tr
    %td question
    %td{ :style => "width: 100%;"} what is your background?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}Brian Johnson has background in the entertainment industry.<br/>Chang Lee was in NY with larger.

/ -----------------------------------------------------------------------------
%h4 4. Cubsensors 

%img{:src => "{{ site.baseurl }}img/blog/20130304/cubesensors.png", width: "250px"}

%p
  improving indoor living.

Founders:
%ul
  %li Ales Spetic
  %li Marko Mrdejenovic

%p 
  Site: <a href="http://cubesensors.com">http://cubesensors.com</a>

%ul
  %li Changes the way videos a monetized.
  %li Comes to live when cubes are networked.

%p
  Measure 6 things:

%ol
  %li temparteur
  %li light
  %li humidity
  %li noise - loud office environment
  %li barometric pressure - headake
  %li air quality - indoor air pollution 

%img{:src => "{{ site.baseurl }}img/blog/20130304/cubesensors-product.png", width: "250px"}

%p
%table.table.table-striped
  %tr
    %td question 
    %td{ :style => "width: 100%;"}who wants this product?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}half of the audience
  %tr
    %td question 
    %td{ :style => "width: 100%;"}so what do it do when I see this data?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}the app sends suggestion. I.e. humanity, can prevent mold before it appears. coffee machine noise is detect and moving it 
  %tr
    %td question 
    %td{ :style => "width: 100%;"}what is the cost?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}$250 for 2 cubes. 
  %tr
    %td question 
    %td{ :style => "width: 100%;"}battery live?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}1 month
  %tr     
    %td suggestion
    %td{ :style => "width: 100%;"}built this in the smoke detectors
  %tr
    %td question 
    %td{ :style => "width: 100%;"}how do you protect this from someone copying it?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}good question….


/ -----------------------------------------------------------------------------
%h4 5. Open Garden

%img{:src => "{{ site.baseurl }}img/blog/20130304/opengarden.png", width: "250px"}

%p
  I was actually exited about this startup as it's a clever way to achieve what a customer of mine is doing with <a href="http://paya.com">paya.com</a>.


Founders:
%ul
  %li Micha Benoliel
  %li Stanislav Shalunov
%p Site: <a href="opengarden.com">opengarden.com</a>
%p Twitter: <a href="http://twitter.com/OpenGarden">@OpenGarden</a>



Change the way videos a monetized.


%ul
  %li Create a mesh network together. Works by crowdsourcing by connecting. Improve your   %li overall speed and reliability.
  %li Sharing via channel bonding (wifi, 4g, ...)
  %li Multi-hop Wi-fi offload
  %li Version 2.0 of existing product
  %li The more people, the better connectivity.


%p
%table.table.table-striped

  %tr
    %td question
    %td{ :style => "width: 100%;"} we saw this 2 or 3 times exactly the same over the last few years. Why would it work this time?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} This is just software and no hardware.

  %tr
    %td followup
    %td{ :style => "width: 100%;"} difficult proposition has consumer may be scared of by bigger data bills.
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} for now there is no worry to give data to others.  They will introduce an ecosystem of credits.

  %tr
    %td question
    %td{ :style => "width: 100%;"} what is the tax on battery life?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} multiple network people have different battery consumption. Wifi is 1/2, 4G is 2 times, 3G. Local are cheaper than Wide connection.

%p
We are located in San Francisco treasure island.

/ -----------------------------------------------------------------------------
%h4 6. Jawfish

%img{:src => "{{ site.baseurl }}img/blog/20130304/jawfishgames.png", width: "250px"}

%p
  real-time multiplayer tournaments.

Founders:
%ul
  %li Brian Johnson
  %li Chang Lee
Site: <a href="jawfishgames.com">jawfishgames.com</a>
Twitter: <a href="http://twitter.com/jawfishgames">@jawfishgames</a>

%p
  Match-up (partner with Bigh-Fish). 16 players bracket. Even Simple game of skills are more fun when played in multiplayer mode


%ul
  %li Available on app store on March 14th.
  %li 120k+ concurrent users
  %li Next: real time poker, super fast, less than 5 seconds. All in or full. Fastest most addictive poker game.
  %li 25 employees make real time multiplayer tournaments platform


%p
%table.table.table-striped
  %tr
    %td question
    %td{ :style => "width: 100%;"} licensing?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} not in real money gaming. Currently focusing on the social aspects.
  %tr
    %td question
    %td{ :style => "width: 100%;"} how do you make money?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} virtual buying, .i.e. 1000 virtual chips..
  %tr
    %td question
    %td{ :style => "width: 100%;"} Jawfish .vs. Big-Fish, why would they partner with you?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} we have something nobody else in the world had. They wanted to back us?
  %tr
    %td question
    %td{ :style => "width: 100%;"} will you continue invest in 3rd party games.?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} yes, know is time to build our own games. We are a gaming company leveraging our platform.
  %tr
    %td question
    %td{ :style => "width: 100%;"} what is better, begging a big fish in a small pond or…?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} that's why we are in Seattle... 
  %tr
    %td question
    %td{ :style => "width: 100%;"} which is more risky, professional poker playing or have startup?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} I am a strategic investor. Exactly the same, but potential bigger in startups.


/ -----------------------------------------------------------------------------
/ -----------------------------------------------------------------------------
%h3 Session 2

%h4 7. WHIPLASH

%img{:src => "{{ site.baseurl }}img/blog/20130304/whiplash.jpeg", width: "250px"}

%p
  Faas: fulfillment as a service.

Founders:
%ul
  %li James Marks
  %li Mark Dickson

Site: <a href="vueplus.com">whiplashmerch.com</a>
Twitter: <a href="http://twitter.com/whiplashmerch">@whiplashmerch</a>


%ul
  %li Whiplash is a physical thing. 
  %li Orders get shipped to whiplash
  %li i.e. orders from Kickstarter can be uploaded
  %li 4000+ orders in two minutes.

States:
%ul
  %li Item unavailable
  %li processing 
  %li packed
  %li shipped
  %li tracking is shared

%p Last year grossed $500000
%p 14% net profit
%p Here today to meet the press and raise an A-run

%p
%table.table.table-striped
  %tr
    %td scoble
    %td{ :style => "width: 100%;"} Any limitation on type of products? And how much will you take?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} $2.95 flat fee. No assault riffles. 
  %tr
    %td question
    %td{ :style => "width: 100%;"} Who are the big players?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"}  Amazon, shipwire. We are very personal, different.
  %tr
    %td question
    %td{ :style => "width: 100%;"} has anybody do logistics?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} no.
  %tr
    %td question
    %td{ :style => "width: 100%;"} you have army of peoples?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} yes...

  %tr
    %td question
    %td{ :style => "width: 100%;"}  what is the standard industry net? Amazon, UPS?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} I don't know. We need better business people on our team.

  %tr
    %td question
    %td{ :style => "width: 100%;"} what's the reasons you guys need to exist?
  %tr  
    %td answer  
    %td{ :style => "width: 100%;"} We can customize it like you would ship it. Amazon feels disingenuous. 

  %tr
    %td scobble
    %td{ :style => "width: 100%;"} if this is the quality of companies we are going to see, I'm very happy.



%h4 8. pov.io

%img{:src => "{{ site.baseurl }}img/blog/20130304/povio.png", width: "250px"}

%p
  poving = capturing what you are doing right now.

Founders:
%ul
  %li Jugoslaw Petkovic
  %li Matevz Petek

Site: <a href="http://pov.io">pov.io</a>

%p
  It is unique in 3 different ways:
  %ul
    %li 1) Demand based. Your friend asking you to shared
    %li 2) Fast. Capture photo and share in 3 seconds
    %li 3) Engaging. 

%ul
  %li Feels like playing photo ping pong. Using engaging in for hours of times.
  %li Couple of people where playing povio at a party. One user created 60 photos in a couple of hours.
  %li Povio is a communication cool, designed for spontaneity. No history, only
  %li Launching today. Should be available today on AppStore and GooglePlay.
  %li Raising a seed round.
  %li Thank you.

%pre
  question: Really nice app. How is it better than instagram?
  answer: key difference is demand base. Simpler has no filters, hashtag, and the there is dialog.
  question: can you retrieve the photos.
  answer: not right now.
  question: (scoble) out of 100 points you get 10 points as it's a mobile app. 
  question: How do you leave out vanity and why.
  answer: They are so many apps where you have to look cool and be at cool places. However to stay in touch with you friends you don't wanna brag.
  scoble: I have app fatigue. question: can I put photos in some other places.
  answer: yes.
  question: how about compressing it further, and having it auto photo
  answer: that scared people away.

%h4 9. blurbity

%img{:src => "{{ site.baseurl }}img/blog/20130304/blurbity.png", width: "250px"}

%p
  News, not headlines?
%p 
  Shows examples of news blurbs that are better than the headline. The real story is often hidden in the article.

Founders:
%ul
  %li Nic Peterson
  %li Vasanth Mohanraj

Site: <a href="http://blurbity.com">blurbity.com</a>

%ul
  %li With blurbity you can read through hundreds of news items very quickly.
  %li How does it apply to search results? Turns search into a destination page.

%pre
  question: I think there is a startup competition. He sees a feature and not a company. 
  answer: He is trying to build the platform that allows to find context between large content of text.
  followup: you compete with large companies.
  jason: You are making an api and don't compete against sumly and others.
  scoble: doesn't believe google will buy it.
  Vivek wadhwa: disagrees as he likes to have that instead of google search results that 
  brad gerstner: how many engineers, do you have partners?
  answer: 1 technical cofounder and my self. Very early stage. No partners, but talking to a few peoples. 
  followup: why you and why now?
  answer: natural language processors are opening up. Why us? We are passionate. The technology allows us to be very flexible.
  Matt Coffin: maybe a better idea is rather than fighting for clicks, is to partner to write better headlines. 

%h4  10. hubskip

%img{:src => "{{ site.baseurl }}img/blog/20130304/hubskip.png", width: "250px"}

%p
  Founders:
  %ul
    %li Alex

Site: <a href="http://hubskip.com">hubskip.com</a>
Twitter: <a href="http://twitter.com/hubskip">@hubskip</a>

%p
  Allows to book flights. And refunds if cheaper flight is found.
  We analyze and register millions of flight prize every day. They can predict the prize changes in the market and can delay purchase of the ticket.

%ul
  %li Today we launch in 6 hubs in the world.
  %li In the next few weeks we will release booking.
  %li In the future we release apis to the developer.
  %li Try it out. Thanks.

%pre 
  question: what if the prize go app.
  answer: if the price goes up we take the risk.
  follow: this is risky you can go bankrupt
  scoble: Travel makes me wants to get whiskey. It didn't grab me this time.
  Brad: I don't go sleep, but the bar is exceptionally high. I'm tantalized by the idea that I can arm a 300 billion market, but the bar is high to challenge the analysts at the larger competitors.
  answer: we are quite different on how the others
  Matt Coffin: Have you thought of a value proposition, if you can keep a percentage of your saving? So we are partners. That would be a way to get fair traction.
  question: what percentage of pleasure trips is there this category.
  answer: usually 3 and 10 percent of seat can use this service model.
  question: I don't understand how you will interrupt my buying behavior. 
  answer: you will save money.

%p
  A large portion of the crowd would like to try these service.
%p  
  jason: reminds him of lowermybills.


%h4  11. Triptease

%img{:src => "{{ site.baseurl }}img/blog/20130304/triptease.png", width: "250px"}

%p
  Travel reviews are a decade out of date. A great travel needs great reviews. All focus are on relevance. 
  The real fun is in creating reviews. 

Site: <a href="http://triptease.com">triptease.com</a>
Twitter: <a href="http://twitter.com/triptease">@triptease</a>

%ul
  %li We are helping reviews worth sharing.
  %li It makes you feel like a creating genius. My instagram moment.
  %li Yesterday reviews are not worth sharing. And that's the gap triptease fills.
  %li Allows to build a vibrant community. People worth following.
  %li There is an elephant in the room. To tackle the incumbents element, no more anonymous and need social sharing. Hotel loves that and brings   %li striptease great distribution.

%pre
  scoble: this hit another snoozer of mine. I tried it and it didn't it me and you didn't show a mobile app. I would have pitched it on mobile phone.
  question: how you are going get distribution into the google
  answer: 1) product is inherently social. 2) In 30 days of speaking to hotel, 30 signed up. 3) image searches.
  scoble: I can see why hotels are excited.
  Sundeep Madra: Google suggest is honest. 
  question: can you write bad reviews.
  answer: Yes, we are unashamedly going after the high end and looking for the best.
  question: often they are paid reviews.How do you cut through that.
  answer: We have a real name policy. And if a hotel drives a review we mark this.
  Brad: elegant design, no innovation in 10 years, but it's a utility that works. So the hurdle is build a smaller company that serves hotels which   is lower than getting consumer to share they experience.
  answer: I had three successful companies and this is my billion dollar opportunity. Not B to B, but B to C.
  Matt: You gonna have to be best on the web to compete.
  jason: have you thought about ways to incentives reviewers, like super reviewers?
  answer: it's already happen. We've got industry experts. We allow them to write reviewers and have link backs to the site.
  scoble: if you build a magazine like experience…there is something here

%h4  12 instarad.io

%img{:src => "{{ site.baseurl }}img/blog/20130304/instaradio.png", width: "250px"}

%p
  Simple way to broadcast audio from you phone. Anytime, anywhere.

%p
  Founders:
  %ul
    %li Kevin Kliman
    %li Andrew Opala

Site: <a href="http://triptease.com">triptease.com</a>
Twitter: <a href="http://twitter.com/triptease">@triptease</a>

%ul
  %li You can listen to the stream, throughout the app or through the browser on any device.
  %li Simple way to broadcast from your phone, anywhere.
  %li Looking for a seed round.
 
%pre
  Scoble: how are you getting money.
  answer: We have a fremium model
  question: how do you get people.
  answer: when people open the app we see what they like and charge on that.
  question: is there a limit on the time?
  answer: no.
  question: what about music, do you allow to play music.
  answer: yes, anything from your music library.
  question: is this legal.
  answer: we are building a platform.
  question: how many people in the company?
  answer: 4
  question: can we access the data later
  answer: yes, you have a unique library.
  scoble: there is something here, museums, tours, 
  question: what platform
  answer: iOS

%h4 Session 2 Comments from the judges.

%pre
  jason: quick question to my judges…which one so far do you want to take a followup meeting with?
  Matt: they are three…instaradio is the biggest, I like triptease and hubskip
  jason: what best way to make the other shine
  matt: To raise money, you absolutely need the metrics of your industry.
  Brad: I like striptease and instaradio. instaradio can be rocket ships but I worry about copyright issues.
  What is the best risk reward and what has a breakout possibility. Instradio could be if done well, which is a low probability, is could become a   phenomenon.
  Scoble: I disagree, I like instant radio but soudcloud could just had that feature. I'm intrigued by povio, but drop what you do and go after   google glasses.
  Sundeep: I like the whiplash as it's a real business and currently amazon is quite penalized. I like hubskip as they are real opportunities.
  Vivek: I would pick triptease as it's needed.  Whiplash is a very difficult to go after. Povio, google as lots up it's sleeves. ….






/ -----------------------------------------------------------------------------
/ -----------------------------------------------------------------------------
%h3 Session 3

%h4  13 synata

%img{:src => "{{ site.baseurl }}img/blog/20130304/synata.jpeg", width: "250px"}

%p
  The first enterprise search engine.
  Find the needle in your enterprise data haystack.

%p
  Founders:
  %ul
    %li Patrick White
    %li Shailesh Saini

Site: <a href="http://synata.com">synata.com</a>
Twitter: <a href="http://twitter.com/SynataSF">@SynataSF</a>

%ul
  %li iPhone version in the works
  %li Hiring graph and big data experts
  %li Raising A seed serie


%pre
  Josh Stein: most business would have processes that are more developed. Did you think about a specific business process you tied to or is it more ad-hock?
  Answer: This is a good question. It's mostly ad-hock.
  question: Your assumption is that everything I have is in the cloud. What can you not getting access to?
  answer: Based on the pricing tier you can have an on premise server. Big hypothesis, this is the future.
  question: How will get the distribution?
  answer: we have a small viral feature, i.e. you can share, word of mouth.
  question: you have distribution partners?
  answer: we work with 2 of the biggest salesforce distributors.


%h4  14. zillabyte

%img{:src => "{{ site.baseurl }}img/blog/20130304/zillabyte.jpeg", width: "250px"}

%p
  We help B2B SaaS companies find their ideal customers.

%p
  Founders:
  %ul
    %li Roger Huffstetler
    %li Jake Quist

Site: <a href="http://zillabyte.com">zillabyte.com</a>
Twitter: <a href="http://twitter.com/zillabyte">@zillabyte</a>

%ul
  %li Customer recommendation engine.
  %li Next feature is zillabyte alert.
  %li Unlocking this business web that was only available for larger companies. 
  %li Zillabyte is Pandora for leads.

%pre
  scoble: can you find who is an Amazon customer so that I can convert them into Rackspace customers.
  question: if it was integrate with social networking ...
  answer: you can add social filter
  question: Sound more like a marketing solution than a sales solution.
  question: most companies have sales only call when they have leads which marketing creates.
  answer: we can do this as it's a business centric database.
  question: how do you get paid
  answer: it's fermium. Will be based on number of alerts.
  question: how accurate is your data
  answer: it's probabilistic. So it's best to make it free and validate the data.


%h4 15. gablit

%img{:src => "{{ site.baseurl }}img/blog/20130304/gablit.png", width: "250px"}

%p
  Do more what you love.
%p
  Gablit helps you discover things to do. We believe in getting off the couch and living life.


%p
  Founders:
  %ul
    %li Freddie Godfrey
    %li James Ellis

Site: <a href="http://gablit.com">gablit.com</a>
Twitter: <a href="http://twitter.com/gablit">@gablit</a>

%ul
  %li Search results can be grouped in streams. The most effective collaboration that anyone has ever seen.
  %li Commercial companies can also search and share their stream.
  %li Can see what people you trust are interested in.
  %li gablit can provide better relevancy and deeper social integration. 
  %li A platform to spend less time searching and more doing doing the things you love.


%pre
  scoble: there is a product in there, but an average user wouldn't do what you just show. You need to do a mobile version I might be wrong.
  answer: we need the toolsets. 
  question: you are attacking the wrong audience. What's the need you are trying to solve. I.e. SWSX there are already tons of apps to organize   events and parties.
  answer: most app don't allow social curation and context.
  scoble: I'm an influancer, i.e. maire on foursquare. I'm always on a mobile phone and I don't have time to look at that level of details. Make it   simpler and cut it down.
  answer: This information needs to be curated. We have a simpler mobile version in the works.
  question: Issue 1, if I use this and I get garbage I'll never us it. How do you make sure there is not garbage 2) the name is hard to type and  pronounce.
  answer: the name comes from english and our testing show that the like the name. Popularity to promote events in hour system.
  comment: if this improves my life and find a 'treasure' of events then I use it, but if not and I doesn't improve my life, users would be obsete.
  comment: Google now is a tough competitor and is getting better
  scoble: User at Marriot (concierge) may love this as they do it 50 times a day. 
  question: how will you make money
  answer: create the market place. Event promotion, affiliates, and subscription.
  followup: If you try to go after all three above you will fail.



%h4  16 Sightly

%img{:src => "{{ site.baseurl }}img/blog/20130304/sightly.png", width: "250px"}

%p
  Version: 2.0

%p  
  Video local search & discovery

%p
  The faster, more engaging way to connect businesses with customers

Site: <a href="http://sightly.com">sightly.com</a>
Twitter: <a href="http://twitter.com/sightlyhq">@sightlyhq</a>

%p
  Founders:
  %ul
    %li John McIntyre
    %li John Zdanowski

%ul
  You can hear the owner tell the story and decide if the it's a place you like.
  We believe video will change local search. No cost at the local business, we figured out how to do these application for less than $100 each, and 
  Local-in stream ads as only partner as Google.
  We raising a round and having already some fantastic partner on board.
  We are sightly, see for you self.

%pre
  scoble: I'm confusing, is this going after the user or going after google.
  answer: primary purpose is to go after the business and get the video and provide local search. Then we can syndicate the content.
  question: by having video do you hurt the search result. 
  answer: video from our perspective it has massive conversion rate. Far better than broadcast. Use this app so you can find videos in your market.
  question: business model?
  answer: primarily local enterprise. Biggest customer are franchises. This way you can see a business before going.
  question: workflow to get the video requires a large number of people to create these
  answer: market penetration is very quick. User content generate stuff is also very valuable. And we hope to drive both.
  question: why couldn't you vine this? 
  answer: we wan't video to dominate. We are catering to two audiences. We want to provide an unbiased view of the place..
  scoble: you didn't think this through, there is something but it's a hard business.


%h4  17 knowyo

%img{:src => "{{ site.baseurl }}img/blog/20130304/knowyo.png", width: "250px"}

%p
  Forgetting a name is an akeward and potentially costly problem.

%p
  Founders:
  %ul
    %li Elie Schoppik
    %li Andrew Sohn

Site: <a href="http://knowyo.com">knowyo.com</a>

%p
  Come play along. We promise we'll never forget you name.

%pre
  Josh: I'm so exicted, that's the best entry to a pitch. I have this problem acutely. This is beautifully done. I'll absolutely use it all the time.
  Sundeep: I'll use this.
  Wesley: I love this. The question is what the business behind this?
  Answer: $20 per month for small business. 
  Brad: You didn't try to oversell this. This is simple. Congrats.
  Scoble: I'll disagree with this. This is either the best thing or the worth thing you will see. And I'm on the fence with this one. I may use it,   I always which you would go deeper knowing the people. We use the gallop strength finder program at Rackspace. I would be good to remind something  cool about the people. I see why the other got excited about this as it's very well executed.
  Josh: I would pay for this.
  Brad: google glades would be great for this
  Scoble: I love the simplicity and 
  Jason: I would be great to show the  people I interacted with the last 30 days by email.
  Raising a million dollar at 4 pre. With 2 people.
  Jason: say 2.7 pre we can clause the deal now.
  …good negotiation going on.


%h4  18 citysourced/zenfunders

%img{:src => "{{ site.baseurl }}img/blog/20130304/knowyo.png", width: "250px"}
version: 2.0

%p
  Founders:
  %ul
    %li Jason Kiesel
    %li Brendan Piper

Site: <a href="http://citysourced.com">citysourced.com</a>
Twitter: <a href="http://twitter.com/citysourced">@citysourced</a>

%ul
%li 4 years ago we launched the company on this stage.
%li Today we announce Zenfunders to allow crowed funding by the community to help the community


%h4 Session 3 Comments from the judges.

%pre
  Jason: Which one was your favorite?
  Josh: favorite knowyo, ...
  sundeep: liked knowyo, 
  wesley: knowyo first, zillowbyte simplify, goblet change your name
  brad: ...
  scoble: zillobyte as a better company. Knowyo is not a product. 



