---
layout: blog
title: AngularJS and related Blog
---
{% for post in paginator.posts %}
    <article class="blog">
      {% if post.image != null %}
      <a href="{{post.url}}">
        <img src="{{ site.baseurl}}img/blog/{{post.image}}" width="750px" class="img-responsive" alt="{{post.title}}">
      </a>
      {% endif %}
      <h3>{{ post.title }}</h3>

      <div class="blog-meta margin-20">
         <div class="blog-meta-date">
            <i class="fa fa-clock-o"></i>
            <span class="blog-meta-date">{{ post.date | date:"%-d %B %Y" }}</span>
         </div>
         <div class="blog-meta-author">
            <i class="fa fa-user"></i>
            <a href="#" class="blog-meta-author">
              {% if post.author != null %}
                {{ post.author }}
              {% else %}
                Daniel Wanja
              {% endif %}
            </a>
         </div>
         <div class="blog-meta-comments">
            <i class="fa fa-comments"></i>
            <!-- <a href="#" class="blog-meta-comments">4 comments</a> -->
            <a class='blog-meta-comments dsq-comment-count comment-link commentslink' href="{{ post.url }}#disqus_thread"/>
         </div>
         <div class="blog-meta-tags">
            {% if post.categories.size > 0 %}
            <i class="fa fa-tags"></i>
            {% for category in post.categories %}
            <a href="#">{{ category }}</a>
            {% unless forloop.last %}/{% endunless %}
            {% endfor %}
            {% endif %}
         </div>
      </div>

      <div class="blog-intro">
        <p>
          {{ post.excerpt }}
        </p>
        {% unless post.nomore %}
        <br />
        <a href="{{post.url}}" class="btn btn-primary btn-sm">Read More</a>
        {% endunless %}
      </div>
    </article>
{% endfor %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="btn btn-primary btn-sm prev" href="{{ site.baseurl}}blog/page/{{paginator.next_page}}">
      <i class="fa fa-chevron-left fa-lg"></i>
      Older
    </a>
  {% endif %}
  {% if paginator.previous_page == 1 %}
  <a class="btn btn-primary btn-sm next" href="{{ site.baseurl}}blog">
    Newer
    <i class="fa fa-chevron-right fa-lg"></i>
  </a>
  {% endif %}
  {% if paginator.previous_page > 1 %}
  <a class="btn btn-primary btn-sm next" href="{{ site.baseurl}}blog/page/{{paginator.previous_page}}">
    Newer
    <i class="fa fa-chevron-right fa-lg"></i>
  </a>
  {% endif %}
  <br/>
  <a href="{{ site.baseurl}}blog/archives">Blog Archives</a>
</div>
