%section#main.dark-gray-bg
  .container
    .row.text-center
      .col-sm-6.col-sm-offset-3.text-center
        %h3 Daniel Wanja
        %hr/
        %p
          Hi, my name is Daniel Wanja and I can help create your next incredible application. I love creating apps and have been doing it professionally for over 26 years. I can mentor your developers, augment your team, build a proof of concept or create the whole application for you.
        %p
          I build Web and Mobile Applications with HTML5, AngularJS, Ruby on Rails and Node.js.
        %br/
        %br/
        %a.btn.btn-primary.btn-lg{href: "danielwanja.html"} Read More