/ Featured Clients
%section#featured-clients.gray-bg
  .container
    .row
      .col-sm-2
        %h2 Clients
      / Client
      .col-sm-2
        %a.clients{href: "#"}
          %img.img-responsive{alt: "Title", src: "img/customers/pinnacol.gif"}/
      / Client
      .col-sm-2
        %a.clients{href: "#"}
          %img.img-responsive{alt: "Title", src: "img/customers/t3media.png"}/
      / Client
      .col-sm-2
        %a.clients{href: "#"}
          %img.img-responsive{alt: "Title", src: "img/customers/eluminate.png"}/
      / Client
      .col-sm-2
        %a.clients{href: "#"}
          %img.img-responsive{alt: "Title", src: "img/customers/effectiveui.png"}/
      / Client
      .col-sm-2
        %a.clients{href: "#"}
          %img.img-responsive{alt: "Title", src: "img/customers/img-dlx-logo@2x.png"}/
