/ Latest News
%section#latest-news.dark-bg
  .container
    .row.margin-30
      .col-sm-12
        %h2 Latest News
    .row
      .col-md-6
        .row
          / News Item
          .col-sm-6
            %a.news-link{href: "blog/2012/06/01/im-leaving-flex-and-its-not-because-of-html5"}
              .news-box
                %h4 I'm leaving Flex and it's not because of HTML5.
                %p Flex has been really good to me for many years.
                %span.icon
          / News Item
          .col-sm-6
            %a.news-link{href: "blog/2012/04/18/screencast-building-ipad-apps-with-flex"}
              .news-box
                %h4 Building iPad apps with Flex - 360Flex
                %p Thanks to all the attendees, I had fun giving this talk. Find attached the slides and the video recording of the talk.
                %span.icon
        / End Nested Row
      / End Col
      .col-md-6
        .row
          / News Item
          .col-sm-6
            %a.news-link{href: "blog/2012/03/26/tour-de-mobile-flex-now-for-the-ipad"}
              .news-box
                %h4 Tour De Mobile Flex now for the iPad
                %p I'm exited to announce a version of Tour De Mobile for the iPad. Tour De Mobile Flex is a great showcase of the different components that the Flex SDK provides.
                %span.icon
          / News Item
          .col-sm-6
            %a.news-link{href: "blog/2012/02/08/blogging-dot-dot-dot-me-cloud"}
              .news-box
                %h4 Blogging...me? Cloud, mobile, and much more
                %p Actually I did setup this whole website using Octopress because I want to blog more...
                %span.icon
        / End Nested Row
      / End Col
    / End Row
