:javascript
  $(document).ready(function() {
    var owl = $("#work-carousel");

    owl.owlCarousel({
    autoPlay: 8000,
    items : 2, //10 items above 1000px browser width
    itemsDesktop : [1000,4], //5 items between 1000px and 901px
    itemsDesktopSmall : [900,2], // betweem 900px and 601px
    itemsTablet: [600,1], //2 items between 600 and 0
    itemsMobile : [0,1], // itemsMobile disabled - inherit from itemsTablet option
    navigation : false,
    pagination : true,
    autoHeight : false
    });
  });

:css
  section#latest-work img.img-responsive {
    width: 575px;
    height: 380px;
  }

/ Latest Work
%section#latest-work.gray-bg
  .container
    .row.margin-30
      .col-sm-12.text-center
        %h2 Latest Work
    .row
      .col-sm-12
        #work-carousel.owl-carousel
          / Project
          .thumbs
            %img.img-responsive{alt: "NCAA Vault", src: "img/portfolio/08_NCAA-Vault.jpg"}/
            %a{href: "http://vault.ncaa.com"}
              %span.title
                %span
                  NCAA Vault
                  %br/
                  %i.fa.fa-minus.white
                  %span.project-info
                    A Flex and Ruby on Rails Application.
                    Build with Cameron for T3 Media just in time for March Madness.
                    It was a pleasure working with Cameron on this highly visible
                    project which was a great success from the first day we released it with so many positive reviews.
                    %br/
                    %br/
                    Technology: Flex and Ruby On Rails

          / Project
          .thumbs
            %img.img-responsive{alt: "T3 Metadata Editor", src: "img/portfolio/07_T3MetadataEditor.jpg"}/
            %a{href: "http://www.t3media.com/platform/products/metadata-editor/"}
              %span.title
                %span
                  T3 Metadata Editor
                  %br/
                  %i.fa.fa-minus.white
                  %span.project-info
                    A lot of my work is for enterprises software that is hidden behind closed doors but since I started helping out T3 Media. I have a few visible apps under my belt. There was already the NCAA Vault and the ACC Vault and more recently the Australian Open built in conjunction with Tennis Australia. These Vaults allow to search through moments of these matches and games. And to capture all that metadata regarding games and movies they created a whole server side infrastructure but they also needed a pretty face for all that power and I got lucky to be one of the main coder on the T3 Metadata Editor.
                    %br/
                    %br/
                    Technology: Flex
          / Project

          / Project
          .thumbs
            %img.img-responsive{alt: "Australian Open TV Vault", src: "img/portfolio/09_AustralianOpen.jpg"}/
            %a{href: "http://vault.australianopentv.com"}
              %span.title
                %span
                  Australian Open TV Vault
                  %br/
                  %i.fa.fa-minus.white
                  %span.project-info
                    Just in time for the Tennis Australia and T3Media
                    released the Australian Open TV Vault
                    which lets you visualize hundreds of the games from 1998 to 2011
                    and share moments of these games on Twitter and Facebook.
                    %br/
                    %br/
                    I was the main developer of the Flex application. You should try it out, it's a pretty cool app (if you like tennis :-). I was provided a Photoshop composition of the site and re-created it using Flex and Flash Catalyst. I've also adapted the Ruby on Rails server side code to fit the new needs of the Australian Open Vault. The server side is deployed on my favorites Rails hosting service: Heroku
                    %br/
                    %br/
                    Technology: Flex, Flash Catalyst, Ruby on Rails


          .thumbs
            %img.img-responsive{alt: "Digital Seed", src: "img/portfolio/01_DigitalSeed.gif"}/
            %a{href: "http://digital-seed.com/"}
              %span.title
                %span
                  Digital Seed
                  %br/
                  %i.fa.fa-minus.white
                  %span.project-info
                    As part of a small development team (3 developers+1 designer) we created the building blocks
                    for an online eLearning application in very short development time.
                    %br/
                    %br/
                    Technology: Ruby on Rails

          / Project
          .thumbs
            %img.img-responsive{alt: "eBay Desktop beta signup", src: "img/portfolio/02_eBayDesktopBetaSignup.gif"}/
            %a{href: ""}
              %span.title
                %span
                  eBay Desktop beta signup
                  %br/
                  %i.fa.fa-minus.white
                  %span.project-info
                    Via EffectiveUI, we worked only on a very small part for the registration to the beta program.
                    %br/
                    %br/
                    Technology: Ruby on Rails

          / Project
          .thumbs
            %img.img-responsive{alt: "Gatelys Shopping", src: "img/portfolio/03_GatelysShopping.gif"}/
            %a{href: ""}
              %span.title
                %span
                  Gatelys Shopping
                  %br/
                  %i.fa.fa-minus.white
                  %span.project-info
                    I was part of a small development team that created 3 applications required to manage nearly 20 e-commerce stores. As with many startups, this one came and go.
                    %br/
                    %br/
                    Technology: Ruby on Rails

          / Project
          .thumbs
            %img.img-responsive{alt: "Quiltivate", src: "img/portfolio/10_Quiltivate.png"}/
            %a{href: "quiltivate.com"}
              %span.title
                %span
                  Quiltivate
                  %br/
                  %i.fa.fa-minus.white
                  %span.project-info
                    When my friend Phil (@pdsphil) contacted me about a project to design quilts online, the passion he and his wife had about this project convinced me to jump a board. The project is a simple to use quilt builder that removes lots of the hassle of calculating how much fabric of what color is needed and allows to play with blocks, shapes and colors to design a quilt.
                    %br/
                    %br/
                    Technology: Flex, JavaScript, Ruby on Rails

      / End Col 12
    / End Row
