/ Latest News
%section#latest-news.dark-bg
  .container
    .row.margin-30
      .col-sm-12
        %h2 Latest News
    .row
      .col-md-6
        .row
          / News Item
          .col-sm-6
            %a.news-link{href: "#"}
              .news-box
                %h4 Latest news title will go here
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                %span.icon
          / News Item
          .col-sm-6
            %a.news-link{href: "#"}
              .news-box
                %h4 Latest news title will go here
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                %span.icon
        / End Nested Row
      / End Col
      .col-md-6
        .row
          / News Item
          .col-sm-6
            %a.news-link{href: "#"}
              .news-box
                %h4 Latest news title will go here
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                %span.icon
          / News Item
          .col-sm-6
            %a.news-link{href: "#"}
              .news-box
                %h4 Latest news title will go here
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                %span.icon
        / End Nested Row
      / End Col
    / End Row