/ Main
%section#main.white-bg
  .container
    .row.text-center
      / Section
      %a.col-link{href: "#"}
        .col-sm-4.margin-30.animated.fadeIn.delay1
          %i.fa.fa-compress.fa-4x.home-icons
          %h3 AngularJS
          %p
            AngularJS is my new Flex allowing to create at a fast pace awesome, feature rich, well architected, complex, engaging HTML applications. We provide a decade of experience in building Rich Internet Applications at your service, now with AngularJS.
      / Section
      %a.col-link{href: "#"}
        .col-sm-4.margin-30.animated.fadeIn.delay2
          %i.fa.fa-code.fa-4x.home-icons
          %h3 Ruby on Rails
          %p
            Proven, solid, scalable, efficient, enabling fast paced development, Ruby on Rails is getting better with each version. From startups to enterprises we've build dozens of Rails application, serving millions of users. Ruby on Rails is also an exeptional JSON server and is the perfect companion to your next AngularJS app.
      / Section
      %a.col-link{href: "#"}
        .col-sm-4.margin-30.animated.fadeIn.delay3
          %i.fa.fa-gear.fa-4x.home-icons
          %h3 Agile
          %p
            Businesses are moving faster and faster, requirements continuously evolve, development cycle are shortened, enterprises adopt Scrum and Agile methodologies, but does your team have the proper agile practices in place to embrace these new challenges? We can help you team get ready!
