/ Well
%section.dark-gray-bg
  .container
    .row
      .col-sm-8
        %h2 Ready to let Nouvelles Solutions work for you?
      .col-sm-4.text-right
        %a.btn.btn-primary.btn-lg{href: "contact.html"} Contact Us
