!!!
%html{lang: "en"}
  {% convert_include head.haml %}
  %body
    {% convert_include navigation.haml %}
    {% convert_include blog_header.haml %}

    %section#main.gray-bg
      .container
        .roww.text-center
          .col-sm-8.col-sm-offset-2
            {{ content }}
            {% convert_include disqus.html %}
            
    {% convert_include bottom.haml %}
    {% convert_include javascript.haml %}

